.page {
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.page__wrapper {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.page__main {
  padding-bottom: 80px;
}

.page__heading {
  margin: 0;
  padding-top: 85px;
  padding-bottom: 117px;

  font-size: 55px;
  line-height: 60px;
  color: #000000;
  text-align: center;

  background: #eeeeee;
}

.page--catalog .page__main {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-header {
  padding-top: 49px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background: #eeeeee;
}

.main-header__inner {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
  height: 65px;
}

.logo__link {
  display: block;
}

.logo__img {
  width: 160px;
  height: 65px;

  vertical-align: middle;
}

.main-nav {
  flex-grow: 1;
  margin-top: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-nav__list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__item {
  margin-right: 47px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  position: relative;

  display: block;

  color: #000000;
  text-decoration: none;
}

.main-nav__link:hover {
  color: #fb565a;
}

.main-nav__link:active {
  color: rgba(0, 0, 0, .3);
}

.main-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.user-block {
  display: flex;
  flex-basis: 160px;
  margin-top: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.user-block__link {
  position: relative;

  margin-left: auto;
  padding-left: 40px;

  color: #000000;
  text-decoration: none;
}

.user-block__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  transform: translateY(-50%);
  opacity: .3;
}

.user-block__link:hover {
  color: #fb565a;
}

.user-block__link:active {
  color: rgba(0, 0, 0, .3);
}

.user-block__link--active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.slider {
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background: #eeeeee;
}

.slider__item {
  position: relative;

  outline: none;
}

.slider__inner {
  max-width: 1160px;
  height: 431px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  background-repeat: no-repeat;
  background-position: 95.5% bottom;
}

.slider__inner--perfect {
  background-image: url("../img/slider-img-1.jpg");
}

.slider__inner--math {
  background-image: url("../img/slider-img-2.jpg");
}

.slider__inner--night {
  background-image: url("../img/slider-img-3.jpg");
}

.slider__promo {
  position: absolute;
  top: 75px;

  width: 520px;
}

.slider__promo-title {
  margin-bottom: 28px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider__promo-descr {
  margin-bottom: 40px;
}

.slider__dots {
  position: absolute;
  bottom: 96px;
  left: 50%;

  height: 18px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;

  transform: translateX(-50%);
  opacity: .6;

  transition: opacity .3s;
}

.slider__dots:hover {
  opacity: 1;
}

.slider__dots li {
  display: inline-block;
  margin-right: 17px;

  vertical-align: top;
}

.slider__dots li:last-child {
  margin-right: 0;
}

.slider__dots button {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;

  font-size: 0;

  background: #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slick-active button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  margin-top: -4px;
  margin-left: -4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.btn {
  display: inline-block;
  padding: 16px 53px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #fb565a;
  border-radius: 3px;
  outline: none;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: #e37376;

  box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1);
}

.btn--fluid {
  display: block;
  padding: 16px 0;
}

.btn--size_s {
  padding: 16px 39px;
}

.btn--apps {
  background-color: #00ca74;
}

.btn--apps:hover {
  background-color: #00bc6c;
}

.btn--apps:active {
  color: #4dc491;

  background-color: #00aa62;
}

.btn--presentations {
  background-color: #efc84a;
}

.btn--presentations:hover {
  background-color: #eab534;
}

.btn--presentations:active {
  color: #edc265;

  background-color: #e5a722;
}

.our-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0;

  border-bottom: 2px solid #eeeeee;
}

.our-services__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
}

.our-services__img {
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.our-services__name {
  margin-bottom: 16px;
  margin-left: -1px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.our-services__descr {
  width: 260px;
  margin: 0;
  margin-bottom: 32px;
}


.about-us {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 73px;

  border-bottom: 2px solid #eeeeee;
}

.about-us__title {
  width: 100%;
  margin-bottom: 34px;
  padding-right: 500px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us__descr {
  width: 100%;
  margin: 0;
  margin-right: auto;
  margin-bottom: 40px;
  padding-right: 500px;
}

.about-us__img {
  position: absolute;
  top: 40px;
  right: 0;
}

.about-us__sub-title {
  display: block;
  margin-bottom: 24px;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us__sub-title--center {
  text-align: center;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.about-us__list-item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;
}

.about-us__list-item:last-child {
  margin-bottom: 0;
}

.about-us__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-us__services {
  width: 460px;
}

.about-us__info {
  width: 360px;
}

.about-us__stats {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 17px;

  list-style-type: none;
}

.about-us__stats-item {
  flex: 1 1 120px;
}

.about-us__stats-val {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us__stats-val sup {
  top: -.6em;

  font-size: 26px;
}

.about-us__stats-descr {
  line-height: 18px;
}

.portfolio {
  padding-top: 46px;
  padding-bottom: 44px;

  border-bottom: 2px solid #eeeeee;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.portfolio__item {
  position: relative;

  flex: 0 1 260px;

  text-align: center;
}

.portfolio__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7.692%;

  width: 2px;
  height: 52px;
  margin-top: -26px;

  background-color: #eeeeee;
}

.portfolio__item:last-child::after {
  display: none;
}

.portfolio__link {
  display: inline-block;

  vertical-align: middle;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;

  opacity: .2;

  transition: opacity .3s;
}

.portfolio__img:hover {
  opacity: 1;
}

.portfolio__img:active {
  opacity: .1;
}

.map {
  position: relative;
}

.map__google {
  height: 416px;
}

.map__contacts {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 220px;
  padding: 47px 50px;

  background-color: #ffffff;
  transform: translateY(-50%);
}

.contacts__title {
  display: block;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__adress {
  display: block;
  margin-bottom: 17px;

  line-height: 18px;
  color: #666666;
}

.contacts__phone {
  display: block;
  margin-bottom: 36px;

  line-height: 18px;
  color: #666666;
}

.main-footer {
  padding-top: 68px;
  padding-bottom: 68px;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 0;
}

.social-btns__item {
  margin-right: 11px;
}

.social-btns__item:last-child {
  margin-right: 0;
}

.social-btns__link {
  display: flex;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;

  transition: background-color .2s;
}

.social-btns__link::before {
  content: "";

  margin: auto;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.social-btns__link--vk::before {
  width: 12px;
  height: 22px;

  background-position: -36px -38px;
}

.social-btns__link--fb::before {
  width: 26px;
  height: 15px;

  background-position: -67px -36px;
}

.social-btns__link--insta::before {
  width: 21px;
  height: 21px;

  background-position: -67px -5px;
}

.social-btns__link:hover {
  background-color: #e74246;
}

.social-btns__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1);
}

.social-btns__link:active::before {
  opacity: .3;
}

.main-footer__promo {
  flex-basis: 760px;
}

.main-footer__promo-title {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.main-footer__promo-descr {
  margin: 0;
}

.filter__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter__legend--cost {
  margin-bottom: 40px;
}

.price-filter {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.price-filter__range {
  display: flex;
  flex-basis: 218px;
  align-items: center;
  box-sizing: content-box;
  height: 80px;
  margin-bottom: 14px;
  padding-right: 21px;
  padding-left: 21px;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price-filter__range .noUi-base {
  height: 2px;

  background-color: #d7dcde;
}

.price-filter__range .noUi-connect {
  background-color: #00ca74;
  box-shadow: none;
}

.price-filter__range .noUi-handle {
  top: -9px;
  left: -10px;

  box-sizing: content-box;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 #cccdcd;
  cursor: pointer;
}

.price-filter__range .noUi-handle::before,
.price-filter__range .noUi-handle::after {
  display: none;
}

.price-filter__label {
  margin-right: 8px;
}

.price-filter__input {
  display: inline-block;
  width: 80px;

  line-height: 38px;
  text-align: center;
  vertical-align: middle;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}
